ALLOWED_EMAIL=
APP_MODE=
APP_ORIGIN=
CATEGORY_MAP_JSON=
CURRENCY_CONFIRMED=
FAMILY_FORM_URL=
FAMILY_RANGE=
FAMILY_SPREADSHEET_ID=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_PRIVATE_KEY=
GOOGLE_SERVICE_ACCOUNT_EMAIL=
PERSONAL_FORM_URL=
PERSONAL_RANGE=
PERSONAL_SPREADSHEET_ID=
SESSION_SECRET=